
.App {
  padding: 15px;
}

.card-grid {
  display: grid;
  gap: 15px;
}

.button {
  justify-content: left !important;
  text-align: left !important;
}

.input-label-grid {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 15px;
}

.exercise-add-form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
  margin-bottom: 15px;
}